@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100,0,200,0,300,0,400,0');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(125deg, #ced4da,#ced4da);
}
.name{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top:31%;
  font-size: 2.5rem;
}
.clock{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
    height: 8rem;
    top: 50%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
}
.clock div{
    display: flex;
    position: relative;
    background-color:#ffff ;
    height: 100%;
    width: 8.2rem;
    padding: 20px 45px;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #150c41;
    border-radius: 0.4rem;
    box-shadow: 0 1rem 2rem rgba(14,0,0,0.3);
    letter-spacing:0.5rem ;
}
.am-pm{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35vh;
    left: 19rem;
    flex-direction: column;
}
.period{
    font-size: 3rem;
    font-weight: 500;
}
.clock span{
    font-weight: 800;
    font-size: 2.5rem;
}
.calander{
    display: flex;
    position:relative;
    justify-content: center;
    align-items:center;
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 5px;
    top: 43vh;
    left: 1rem;
}
.day-name, .date-number{
    margin-left:10px;

}
.toggle-container{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 22rem;
    top: 20rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
